*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.clear, .clear1, .clear2, .clear3, .clear4, .clear5, .clear10, .clear20, .clear30, .clear40, .clear60,
.clear80{
  clear:both;
  font-size: 0;
  line-height: 0;
} 
.clear {height:0;}
.clear1 {height:1px;}
.clear2{height:2px;}
.clear3{height:3px;}
.clear4{height:4px;}
.clear5{height:5px;}
.clear10{height:10px;}
.clear20{height:20px;}
.clear30{height:30px;}
.clear40{height:40px;}
.clear60{height:60px;}
.clear80{height:80px;}

.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url('images/background.png');
  background-size: cover;
  background-position: center;

}

.navbar{
  width: 100%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #979e9d;
}


.logo{
  width: 120px;
  cursor: pointer;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after{
  width:100%;
}

.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1{
  font-size: 3rem;
  margin-top: 10vh;
}
.content p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 2vh;
}

button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor:pointer;
  position: relative;
  overflow: hidden;
  color: black;
}

span{
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span{
  width: 100%;
}

button:hover{
  border:none;
}


/* Modal Container */
.modal {
  display: none; /* Hide modal by default */
  position: fixed; /* Position the modal */
  z-index: 1; /* Add z-index to ensure modal is on top of other elements */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scrolling if needed */
  background-color: rgba(0,0,0,0.4); /* Black background with opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe; /* White background */
  margin: 15% auto; /* Center the modal vertically and horizontally */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Set width of modal */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Add shadow */
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
